{
    "damageMultiplier" : 2,
    "maxMagazine" : 40,
    
    "burst" : 3,

    "recoil" : 2,
    "recoilRecovery" : 16,
    "aimLookRatio" : 0.125,

    "movingInaccuracy" : 5,
    "standingInaccuracy" : 1,
    "crouchInaccuracyMultiplier" : 0.25,

    "burstCooldown" : 0.2,

    "muzzleFlash" : 1,
    "rpm" : 225
}