{
    "damageMultiplier" : 12,
    "maxMagazine" : 16,
    
    "burst" : 2,

    "recoil" : 0,
    "recoilRecovery" : 16,
    "aimLookRatio" : 0,

    "movingInaccuracy" : 5,
    "standingInaccuracy" : 1,
    "crouchInaccuracyMultiplier" : 0.25,

    "burstCooldown" : 0.15,

    "muzzleFlash" : 1,
    "rpm" : 1500
}