{
    "damageMultiplier" : 12,
    "maxMagazine" : 11,
    
    "burst" : 3,

    "recoil" : 0,
    "recoilRecovery" : 16,
    "aimLookRatio" : 0,

    "movingInaccuracy" : 0,
    "standingInaccuracy" : 0,
    "crouchInaccuracyMultiplier" : 0.25,

    "burstCooldown" : 0.22,

    "muzzleFlash" : 1,
    "rpm" : 150
}